button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 50px;
  background-color: #27a7b9;
  color: black;
  border-color: white;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  color: black;
  border-color: white;
  margin-top: 20px;
}

button:hover {
  background-color: #7aebfa;
}
